<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AISCHOOL</title>
    <link rel="stylesheet" href="/AISCHOOL/public/css/home-page.css"> <!-- Corrected path -->
    <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
    <link rel="icon" href="/AISCHOOL/images/logo.png" type="image/png"> <!-- Corrected path -->

</head>
<body>

    <div class="sgn_log_ini">
        <img src="/AISCHOOL/images/logo.png" class="" ><br> <!-- Corrected path -->
        
        <pr>مرحبًا بكم في</pr>
        <h1>AISCHOOL</h1> 
             <pr>
            يهدف موقعنا إلى مساعدة الطلاب في تحسين مستواهم الأكاديمي باستخدام تقنيات الذكاء الاصطناعي.
            يوفر الموقع مجموعة من الأدوات المتطورة، مثل توليد الاختبارات الذكية، تصحيح الإجابات تلقائيًا، 
            تقديم تحليلات مفصلة حول الأداء، واقتراح خطط دراسية مخصصة بناءً على احتياجات كل طالب. كما يمكنكم الوصول إلى موارد تعليمية
            شاملة لمساعدتكم على تحقيق أفضل النتائج. انضموا إلينا اليوم واجعلوا التعلم أكثر كفاءة وسهولة!</pr>
        <form action="index.php">
            <button class="btn signup" name="isLogging" >تسجيل الدخول</button>
            <button class="btn login" name="isSigning">إنشاء حساب جديد</button>
        </form>    
    </div>
    
</body>
</html>
